
body{
    font-family: 'Bree Serif', serif;
}

h2,h5{
    font-weight: bold;
}

.colMed{
    margin-top: 94px;
}

.rowena{
   margin: 60px;
}

.card{
    border-color: white;
}
img{
    width: 80%;
    float: left;
}
.desc {
    padding-top: 32px;
   float: left;
   transform: rotate(-270deg);

    
}

.card-title{
    width: 80%;
    clear: both;

}